/**
 * Created by bkandov on 29/10/2020.
 */

.slds-pill_link, .slds-pill--link {
    width: 100% !important;  
}

@media only screen and (min-width: 769px) {
    .label-inline-dropdown{
        width:67%
    }
}

.initial_dropdown {
    left: auto;
    right: auto;
}

.auto-alignment {
    position: fixed;
    top: auto;
}

.stencil.detail .text {
    border-radius: 14px;
    display: inline-block;
    height: var(--lwc-spacingXSmall, 0.5rem);
    margin-right: var(--lwc-spacingSmall, 0.75rem);
    background-color: var(--lwc-colorBackgroundStencil, rgb(243, 243, 243));
}

.stencil.detail .text.text-short {
    width: 45%;
    background-color: #e6e6e6;
}

.stencil.detail .text.text-long {
    width: 100%;
}